<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="Images/png" href="/img/v8.ico" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style2.css" />

    <title>CodeGig</title>
  </head>

  <body>
    <header class="inner">
      <h2>
        <a href="/"><i class="fas fa-code"></i> CodeGig</a>
      </h2>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <%- include ('../partials/loginLogOut') %>
        </ul>
      </nav>
    </header>

    <div class="container"><%- body %></div>

    <footer class="footer">
      &copy TechTonic <span class="year"></span>
      <p>Address: plot A246 Block B, Zone 5 Wuse, Abuja - Nigeria</p>
    </footer>

    <script src="/js/all.js"></script>

    <script>
      let date = new Date();
      // let dateOutput = document.querySelector('.time');
      //dateOutput.innerHTML = date.toDateString();
      let year = document.querySelector('.year');

      year.innerHTML = `(${date.getFullYear()})`;
    </script>
  </body>
</html>
