#btn-allUsers {
  float: right;
  font-size: 14px;
  background-color: black;
}

#btn-user-delete {
  color: red;
}

#user-details {
  color: #0c7fb4;
}

#dashboard-align {
  text-align: center;
}

#btn-userDetails {
  background-color: #0c7fb4;
  color: aliceblue;
}

#passport img {
  float: right;
  width: 40%;
}
