<section id="add" class="container">
  <div class="form-wrap">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p><%= author %></p>
    <a class="btn btn-info" href="/">Home</a>
  </div>
</section>
